.topsell {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    z-index: 10;
    margin-top: 100px;
}

.dialaouge {
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.dialaouge p {
    font-family: "Nunito Sans", sans-serif;
}

.topsell h1 {
    color: #832729;
    font-family: "Nunito Sans", sans-serif;
    letter-spacing: 0.0313rem;
    font-weight: 700;
    font-size: 40px;
}

.divider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider-img {
    width: 85%;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 85%;
    align-items: center;
    justify-content: space-around;
}

.slick-prev::before,
.slick-next::before {
    color: black;
}

