.looksell {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-top: 80px;
    position: relative;
    font-family: 'Nunito Sans', sans-serif; /* Apply default font */
   
    position: relative;
    margin-bottom: 50px;
}

.dialogue {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.looksell h1 {
    color: #832729;
    font-family: 'Nunito Sans', sans-serif; /* Apply specific font */
    letter-spacing: .0313rem;
    font-weight: 700;
    font-size: 40px;
}

.divider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider-img {
    width: 85%;
}

.looksell hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background-color: #252525;
}

.top-item-slider {
    border-radius: 3px;
    width: 85%;
}

.slick-slide {
    display: flex;
    justify-content: center;
}

.slick-prev::before,
.slick-next::before {
    color: black;
}

.bigpole {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
    
}

.pole {
    background-color: #f2e9e9;
    width: 83%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pic {
    width: 550px;
    height: 550px;
}

.ref-img {
    width: 50%;
    z-index: 10;
}

.right-side {
    width: 50%;
}

.part{
   
    width: 100%;
    
}
.subpart{
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-left: 65px;
    height: 480px;
    border: .8px solid #e1e1e1;
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 .1875rem .375rem rgba(0, 0, 0, .160784);
}
.workwear{
margin: 10px 0;
font-family: "Nunito Sans", sans-serif;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
width: 100%;
text-align: center; /* Align text to the left */
font-size: 1.5rem;
color: #222;
font-weight: 500;
margin-bottom: 50px;
}
.shop-txt{
width: 15.125rem;
height: 3.25rem;
background: #701b1f;
opacity: 1;
font-family:  "Nunito Sans", sans-serif;
font-size: .875rem;
color: #fff;
border: none;
cursor: pointer;
}

.items {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif; /* Apply specific font */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    
}

.text-above {
    font-size: 18px;
    color: #832729;
    margin-bottom: 10px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif; /* Apply specific font */
}

.image-container {
    position: relative;
    border-radius: 50%;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-bottom: 2px solid #832729;
    border-right: 2px solid #832729;
    border-left: 2px solid #832729;
    padding: 5px;
}

.image-container77 {
    position: relative;
    border-radius: 50%;
    margin: 0 auto;
    width: 110px;
    height: 110px;
    overflow: hidden;
    margin-top: 35px;
}

.rect {
    margin-left: 50px;

}
.selected{
    transform: scale(1.1);
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border-top: none;
}

.image-container77 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border-top: none;
}

.text-below {
    font-size: 16px;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif; /* Apply specific font */
}
